In [61]:
import pandas as pd

df =pd.read_csv('slot_data_マルハン石和店_20240514.csv')
df

,機種名,台番号,G数,差枚,BB,RB,合成確率,BB確率,RB確率,date
0,マイジャグラーV,682,"6,753","+2,500",31,30,1/110.7,1/217.8,1/225.1,2024-05-14
1,マイジャグラーV,683,"1,232",-700,2,3,1/246.4,1/616.0,1/410.7,2024-05-14
2,マイジャグラーV,684,"4,168",-500,15,9,1/173.7,1/277.9,1/463.1,2024-05-14
3,マイジャグラーV,685,"4,140",+600,18,14,1/129.4,1/230.0,1/295.7,2024-05-14
4,マイジャグラーV,686,"2,038",-700,5,6,1/185.3,1/407.6,1/339.7,2024-05-14
...,...,...,...,...,...,...,...,...,...,...
89037,アラジンAクラシック,670,"1,182",-500,11,2,1/90.9,1/107.5,1/591.0,2023-04-15
89038,頭文字D,671,"2,818","+1,200",20,24,1/64.0,1/140.9,1/117.4,2023-04-15
89039,バイオハザード7 レジデント イービル,672,"3,016",+100,45,4,1/61.6,1/67.0,1/754.0,2023-04-15
89040,モンキーターンⅣ,673,"2,289","-2,400",4,3,1/327.0,1/572.2,1/763.0,2023-04-15
89041,主役は銭形3,674,712,+400,4,2,1/118.7,1/178.0,1/356.0,2023-04-15

In [62]:
train = df[['台番号','差枚','date']]
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89042 entries, 0 to 89041
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台番号     89042 non-null  int64
 1   差枚      89042 non-null  object
 2   date    89042 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [63]:
train['差枚'] = train['差枚'].str.replace(',', '').str.replace('+', '').astype(int)
train['date'] = pd.to_datetime(train['date'])

In [64]:
train['date_num'] = train['date'].dt.strftime('%Y%m%d').astype(str)
train['month'] = train['date'].dt.month.astype(int)
train['tens_digit'] = train['date_num'].str[-2].astype(int)
train['units_digit'] = train['date_num'].str[-1].astype(int)

In [93]:
train['units_digit'].unique()

array([4, 3, 2, 1, 0, 9, 8, 7, 6, 5])

In [66]:
y = train['差枚']
x = train.drop(['差枚','date','date_num'], axis=1)
print(x)
print(y)

       台番号  month  tens_digit  units_digit
0      682      5           1            4
1      683      5           1            4
2      684      5           1            4
3      685      5           1            4
4      686      5           1            4
...    ...    ...         ...          ...
89037  670      4           1            5
89038  671      4           1            5
89039  672      4           1            5
89040  673      4           1            5
89041  674      4           1            5

[89042 rows x 4 columns]
0        2500
1        -700
2        -500
3         600
4        -700
         ...
89037    -500
89038    1200
89039     100
89040   -2400
89041     400
Name: 差枚, Length: 89042, dtype: int32

In [88]:
x['台番号'].sort_values().unique()

array([483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495,
       496, 497, 498, 499, 500, 502, 503, 504, 505, 506, 507, 508, 509,
       510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 522, 523, 524,
       525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537,
       538, 539, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551,
       552, 553, 554, 555, 556, 557, 558, 561, 562, 563, 564, 565, 566,
       567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579,
       580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592,
       593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605,
       606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618,
       619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631,
       632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644,
       645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657,
       658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670,
       671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683,
       684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696,
       697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709,
       710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722,
       723, 724, 725, 726, 727, 728, 729, 730], dtype=int64)

In [90]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x)
x = scaler.transform(x)

array([ 0.96161848, -0.37640205, -0.14086567, -0.15648727])

In [ ]:
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2 )
model = linear_model.LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [ ]:
x_test = pd.DataFrame(x_test)

In [ ]:
x_train[0]

In [ ]:
# The coefficients
print(f'Coefficients: {model.coef_}\n')
# The mean squared error
print(f"Mean squared error: {mean_squared_error(y_test, y_pred,squared=False)}") 
# Explained variance score: 1 is perfect prediction
print(f'Variance score: {r2_score(y_test, y_pred)}')

In [ ]:
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
# reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)

# models, predictions = reg.fit(x_train, x_test, y_train, y_test)
# print(models)